table {
  width: 100%;
}

img{
  width: 100%;
  max-width: 100px;
}
::ng-deep .mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
  background: #3876BF !important; 
}
::ng-deep .mat-mdc-slide-toggle .mdc-switch:enabled:hover:not(:focus):not(:active) .mdc-switch__track::after {
  background: #b5b5b5 !important;
}

th.mat-sort-header-sorted {
  color: black;
}

.mdc-data-table__cell {
  padding: 16px !important;
}
// ::ng-deep .mat-sort-header-arrow{
//   position: absolute !important;
//   right: -18px;
// }
.mdc-data-table__header-cell {
  padding: 15px 10px;
}
::ng-deep .mat-sort-header-container {
  justify-content: center;
}

input{
  padding: 3px 7px;
  border-radius: 6px;
  border: 1px solid #000;
  width: 100%;
  &.hidden{
    opacity: 0;
    position: relative;
    z-index: -111;
  }
}

::ng-deep .mat-mdc-paginator-container{
  justify-content: center !important;
}