<div class="getWidth">
  <p-table
    #dt
    [value]="dataTable"
    [paginator]="true"
    [rows]="pageSize"
    [rowsPerPageOptions]="pageSizeOptions"
    [showCurrentPageReport]="showCurrentPageReport"
    [responsive]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="header">
      <tr class="header">
        <th
          style="text-align: center"
          *ngIf="config.checkbox"
          [style]="{ width: widthCheckBox+'px' }"
        >
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>

        <th class="text-center" *ngIf="config.stt" [style]="{ width: widthStt+'px' }">
          STT
        </th>

        <ng-container *ngFor="let column of columns; index as i">
          <th
            *ngIf="column.visible"
            [ngClass]="{ 'text-center': column.center }"
            class="peoTooltip"
            [style]="{ width: congfigWidthColumns[i] + 'px' }"
            [pTooltip]="column.header"
            [pSortableColumn]="column.field"
          >
            {{ column.header }}
            <p-sortIcon [field]="column.field"></p-sortIcon>
          </th>
        </ng-container>

        <th
          class="text-center"
          *ngIf="config.actions"
          [style]="{ width: widthActions+'px',maxWidth: widthActions+'px' }"
        >
          Hành động
        </th>
      </tr>

      <tr class="filter">
        <th
          style="text-align: center"
          *ngIf="config.checkbox"
          [style]="{ width: widthCheckBox+'px' }"
        ></th>

        <th
          class="text-center"
          *ngIf="config.stt"
          [style]="{ width: widthStt+'px' }"
        ></th>

        <ng-container *ngFor="let column of columns; index as i">
          <th
            *ngIf="column.visible"
            [ngClass]="{ 'text-center': column.center }"
            [style]="{ width: congfigWidthColumns[i] + 'px' }"
          >
            <ng-container [ngSwitch]="column.typeFilter">
              <ng-container *ngSwitchCase="'text'">
                <input
                  pInputText
                  type="text"
                  (input)="
                    dt.filter($event.target?.value, column.field, 'contains')
                  "
                  placeholder="Tìm kiếm..."
                  class="ui-column-filter"
                  [(ngModel)]="objectFilter[column.field]"
                />
              </ng-container>

              <ng-container *ngSwitchCase="'dropdown'">
                <p-dropdown
                  [options]="objectOption[column.optionDropdown]"
                  (onChange)="dt.filter($event.value, column.field, 'contains')"
                  styleClass="ui-column-filter"
                  appendTo="body"
                  [style]="{
                    width: '100%',
                    'min-width': '30px'
                  }"
                  autoWidth="false"
                  placeholder="Chọn..."
                >
                  <ng-template let-option pTemplate="item">
                    <span>{{
                      option.label
                    }}</span>
                  </ng-template>
                  <ng-template let-item pTemplate="selectedItem">
                    <span>{{ item.label }}</span>
                  </ng-template>
                </p-dropdown>
              </ng-container>
            </ng-container>
          </th>
        </ng-container>

        <th
          class="text-center"
          *ngIf="config.actions"
          [style]="{ width: widthActions+'px',maxWidth: widthActions+'px' }"
        ></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td
          style="text-align: center"
          *ngIf="config.checkbox"
          [style]="{ width: widthCheckBox+'px' }"
        >
          <p-tableCheckbox [value]="data"></p-tableCheckbox>
        </td>

        <td class="text-center" *ngIf="config.stt" [style]="{ width: widthStt+'px' }">
          {{ rowIndex + 1 }}
        </td>

        <ng-container *ngFor="let column of columns; index as i">
          <td
            *ngIf="column.visible"
            [style]="{ width: congfigWidthColumns[i] + 'px' }"
            [ngStyle]="{ 'font-weight': isScreen === 'order' ? 'bold': '', 'color': isScreen === 'order' ? handleColor(data.status_order): ''}"
          >
            <ng-container *ngIf="column.type === 'text'">
              <div
                [ngClass]="{ 'text-center': column.center }"
                class="peoTooltip"
                [pTooltip]="data[column.field]"
              >
                {{ data[column.field] }}
              </div>
            </ng-container>

            <ng-container *ngIf="column.type === 'number'">
              <div
                [ngClass]="{ 'text-center': column.center }"
                class="peoTooltip"
                [pTooltip]="data[column.field]"
              >
                {{ data[column.field] }}
              </div>
            </ng-container>

            <ng-container *ngIf="column.type === 'price'">
              <div
                [ngClass]="{ 'text-center': column.center }"
                class="peoTooltip"
                [pTooltip]="data[column.field] | pricePipe"
              >
                {{ data[column.field] | pricePipe }}
              </div>
            </ng-container>

            <ng-container *ngIf="column.type === 'date'">
              <div
                [ngClass]="{ 'text-center': column.center }"
                class="peoTooltip"
                [pTooltip]="data[column.field] | datePipe"
              >
                {{ data[column.field] | datePipe }}
              </div>
            </ng-container>

            <ng-container *ngIf="column.type === 'last_active'">
              <div
                [ngClass]="{ 'text-center': column.center }"
                class="peoTooltip"
                [pTooltip]="data[column.field] | dateActivePipe"
              >
                {{ data[column.field] | dateActivePipe }}
              </div>
            </ng-container>

            <ng-container *ngIf="column.type === 'image'">
              <div [ngClass]="{ 'text-center': column.center }">
                <img [src]="data[column.field]" alt="" />
              </div>
            </ng-container>

            <ng-container *ngIf="column.type === 'switch'">
              <div [ngClass]="{ 'text-center': column.center }">
                <p-inputSwitch
                  [(ngModel)]="data[column.field]"
                  (ngModelChange)="hanldeChangeStatus(column.field,$event, data.id)"
                ></p-inputSwitch>
              </div>
            </ng-container>

            <ng-container *ngIf="column.type === 'statusOrder'">
              <div [ngClass]="{ 'text-center': column.center }">
                <p-dropdown
                  [options]="onChangeStatusOrder"
                  (onChange)="changeStatusOrder($event,data.orderId)"
                  styleClass="ui-column-filter"
                  appendTo="body"
                  [(ngModel)]="data[column.field]"
                  [style]="{
                    width: '100%',
                    'min-width': '30px'
                  }"
                  autoWidth="false"
                  placeholder="Chọn..."
                >
                  <ng-template let-option pTemplate="item">
                    <span class="peoTooltip"
                    [pTooltip]="data[column.field]" [ngStyle]="{ 'font-weight': isScreen === 'order' ? 'bold': '', 'color': isScreen === 'order' ? handleColor(option.value): ''}">{{
                      option.label
                    }}</span>
                  </ng-template>

                  <ng-template let-option pTemplate="selectedItem">
                    <span class="peoTooltip"
                    [pTooltip]="data[column.field]" [ngStyle]="{ 'font-weight': isScreen === 'order' ? 'bold': '', 'color': isScreen === 'order' ? handleColor(option.value): ''}">{{
                      option.label
                    }}</span>
                  </ng-template>
                </p-dropdown>
              </div>
            </ng-container>

          </td>
        </ng-container>

        <td *ngIf="config.actions" [style]="{ width: widthActions+'px' }">
          <div class="d-flex justify-content-center align-items-center" style="margin: 0 auto;">
            <ng-container *ngFor="let action of config.actions">
              <div
                *ngIf="action === 'edit'"
                class="cursor-pointer icon-action"
                (click)="tableAction(action, data)"
              >
                <i class="pi pi-file-edit"></i>
              </div>
              <div
                *ngIf="action === 'view'"
                class="cursor-pointer icon-action"
                (click)="tableAction(action, data)"
              >
                <i class="pi pi-eye"></i>
              </div>
              <div
                *ngIf="action === 'delete'"
                class="cursor-pointer icon-action"
                (click)="tableAction(action, data)"
              >
                <i class="pi pi-trash"></i>
              </div>
            </ng-container>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
