.header-main {
  // background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  i {
    font-size: 20px;
  }
}

header {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .cart,
    .like {
      position: relative;
      cursor: pointer;
      span.number {
        position: absolute;
        background: #000;
        color: #fff;
        font-size: 10px;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        top: -6px;
        right: -9px;
      }
    }
  }
}

.header-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  padding: 5px 0 30px 0;
  .menu-item{
    a{
      position: relative;
      transition: all 0.5s;
      &::after{
        content: '';
        background: #000;
        width: 00%;
        height: 2px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%,0%);
      transition: all 0.5s;
      }
      &:hover::after{
        width: 100%;
      }
    }
  }
}


.search{
    .box-search{
        position: relative;
        i{
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate(0,-50%);
            color: #ccc;
        }
        input{
            padding: 5px 10px 5px 35px;
            outline: none;
            border-radius: 10px;
            border: 1px solid #ccc;
            min-width: 231px;
            background: #f8f8f8;
        }
    }
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
    // color: #ccc;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px 10px;
}