
<!-- <app-welcome *ngIf="showWelcome"></app-welcome> -->

<div class="loadding" *ngIf="loadding">
    <span class="loader"></span>
</div>
<div class="layout-wrapper" >
    <div class="layout-topbar">
        <app-topbar></app-topbar>
    </div>
    <app-breadcrumb></app-breadcrumb>
    <div class="layout-sidebar" [ngStyle]="{'width': widthSideBar + 'px'}">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container" [ngStyle]="{'margin-left': widthSideBar + 'px','width': getWidth(widthSideBar)}">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<p-toast [baseZIndex]="111111111111"></p-toast>