.layout-wrapper {
    background: #eff3f8;
    min-height: 100vh;
    .layout-topbar {
        position: fixed;
        height: 5rem;
        z-index: 997;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0 2rem;
        background-color: #fff;
        color: #000;
        transition: left .2s;
        display: flex;
        align-items: center;
        box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;
    }
    .layout-sidebar {
        position: fixed;
        // width: 300px;
        height: calc(100vh - 9rem);
        z-index: 999;
        overflow-y: auto;
        -webkit-user-select: none;
        user-select: none;
        top: 7rem;
        left: 2rem;
        transition: transform .2s,left .2s;
        background-color: #fff;
        border-radius: 12px;
        padding: 0.5rem 1.5rem;
        box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;
    }
    .layout-main-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;
        padding: 7rem 2rem 2rem 4rem;
        transition: margin-left .2s;
    }
}


// =================== Loadding ===================
.loadding {
    background: #000000ad;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 11111111111111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    display: flex;
    animation : rotate 2s linear infinite;
  }
  .loader:before,
  .loader:after {
    content:"";
    flex:1;
    background:#fff;
    animation: mvx 0.5s infinite linear alternate;
  }
  .loader:before {
    background: #FF3D00;
    animation-name:mvrx;
  }

  @keyframes rotate {
    100% {transform: rotate(360deg)}
  }
  @keyframes mvx {
    0% , 40% {transform: translateX(0px)}
    20% , 60% {transform: translateX(8px)}
    100% {transform: translateX(15px)}
  }
  @keyframes mvrx {
    0% , 40% {transform: translateX(0px)}
    20% , 60% {transform: translateX(-8px)}
    100% {transform: translateX(-15px)}
  }

// =================== Loadding ===================
