<div class="side-bar">
    
    <div class="sidebar-item">
        <p class="sidebar-item_title">Danh mục</p>
        <div class="filter">
            <ul>
                <li *ngFor="let item of listCategory">
                    <p-checkbox [(ngModel)]="item.checked" [binary]="true" [inputId]="item.name" (ngModelChange)="onChangeFilter('category')"></p-checkbox>
                    <label [for]="item.name">{{item.name}}</label>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar-item">
        <p class="sidebar-item_title">Màu</p>
        <div class="filter">
            <ul>
                <li *ngFor="let item of listColor">
                    <p-checkbox [(ngModel)]="item.checked" [binary]="true" [inputId]="item.name" (ngModelChange)="onChangeFilter('color')"></p-checkbox>
                    <label [for]="item.name">{{item.name}}</label>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar-item">
        <p class="sidebar-item_title">Kích thước</p>
        <div class="filter">
            <ul>
                <li *ngFor="let item of listSize">
                    <p-checkbox [(ngModel)]="item.checked" [binary]="true" [inputId]="item.name" (ngModelChange)="onChangeFilter('size')"></p-checkbox>
                    <label [for]="item.name">{{item.name}}</label>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar-item">
        <p class="sidebar-item_title">Giá</p>
        <div class="filter filter_price">
            <p-slider [(ngModel)]="rangeValues" [range]="true" (onSlideEnd)="onChangeFilter('price')"></p-slider>
            <div class="box-price d-flex mb-4 mt-4" style="justify-content: space-between;">
                <span class="min">
                    {{objectListFilter.price.min | pricePipe}}
                </span>
                <span class="max">
                    {{objectListFilter.price.max | pricePipe}}
                </span>
            </div>
        </div>
    </div>
</div>