<div class="about">
    <div class="logo">
        <img src="../../../../assets/images/logo.png" alt="">
        <p>peoo.orderauthentic</p>
        <hr>
        <div class="social">
            <a href="https://www.tiktok.com/@peoo.orderauthentic">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                        d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z" />
                </svg>
            </a>
            <a href="https://www.instagram.com/vuonglanthi.peoo/">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                </svg>
            </a>
            <a href="https://www.facebook.com/peoo.order">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                        d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.3V327.7h-63V256h63v-54.6c0-62.2 37-96.5 93.7-96.5 27.1 0 55.5 4.8 55.5 4.8v61h-31.3c-30.8 0-40.4 19.1-40.4 38.7V256h68.8l-11 71.7h-57.8V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0 -48-48z" />
                </svg>
            </a>
        </div>
        <p>ORDER AUTHENTIC 100% FROM</p>
        <p>SINGAPORE CHARLES & KEITH - PEDRO</p>
    </div>

    <ul>
        <li>
            <a href="https://www.facebook.com/vuonglanthi.peoo">
                <img src="../../../../assets/images/icon_fb.svg">
                <p>FB Lan Vuong Thi (Peoo Order)</p>
                <p>Cập nhật hàng sẵn - order, lịch order...</p>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/peoo.order">
                <img src="../../../../assets/images/icon_fb.svg">
                <p>Fanpage Peoo Order Authentic</p>
                <p>Cập nhật các sản phẩm mới CNK - PEDRO</p>
            </a>
        </li>
       
        <li>
            <a href="https://www.facebook.com/groups/915142733185977">
                <img src="../../../../assets/images/icon_fb.svg">
                <p>GROUP CHARLES & KEITH - PEDRO</p>
                <p>Tham gia để nhận ưu đãi, săn voucher...</p>
            </a>
        </li>
     
        <li>
            <a href="https://www.facebook.com/messages/t/100007879140115">
                <img src="../../../../assets/images/icon_messenger.svg">
                <p>Messenger</p>
                <p>Liên hệ đặt hàng - giải đáp thắc mắc</p>
            </a>
        </li>
        <li>
            <a href="https://www.tiktok.com/@peoo.orderauthentic">
                <img src="../../../../assets/images/icon_tiktok.svg">
                <p>TikTok</p>
                <p>Cập nhật video unbox CNK - PEDRO</p>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/peoo.orderauthentic">
                <!-- <a href="https://zalo.me/0922988506"> -->
                <img src="../../../../assets/images/icon_instagram.svg">
                <p>Instagram</p>
                <p></p>
            </a>
        </li>
        <li>
            <a href="https://zalo.me/0983834522">
                <img src="../../../../assets/images/icon_zalo.svg">
                <p>Zalo</p>
                <p></p>
            </a>
        </li>
      
    </ul>

    <div class="contact">
        <p>LIÊN HỆ NGAY</p>
        <hr>
        <div class="social">
            <a href="https://www.tiktok.com/@peoo.orderauthentic">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                        d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z" />
                </svg>
            </a>
            <a href="https://www.instagram.com/vuonglanthi.peoo/">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                </svg>
            </a>
            <a href="https://www.facebook.com/peoo.order">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                        d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.3V327.7h-63V256h63v-54.6c0-62.2 37-96.5 93.7-96.5 27.1 0 55.5 4.8 55.5 4.8v61h-31.3c-30.8 0-40.4 19.1-40.4 38.7V256h68.8l-11 71.7h-57.8V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0 -48-48z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<!-- <div class="peo-container payment">
    <h2>Hình thức thanh toán</h2>
    <div class="desc">
        Chúng tôi chấp nhận thanh toán
        <ol>
            <li>Chuyển khoản ngân hàng</li>
            <li>Thanh toán MOMO</li>
        </ol>
    </div>
</div>


<div class="peo-container contact">
    <div class="row">
        <div class="col-6 text-center">
            <i class="pi pi-clock" style="font-size: 3em"></i>
            <h3>Thời gian làm việc</h3>
            <p>7:00 AM - 23.00 PM</p>
            <p>Thứ 2 - Chủ Nhật</p>
        </div>
        <div class="col-6 text-center">
            <i class="pi pi-info-circle" style="font-size: 3em"></i>
            <h3>Liên Hệ</h3>
            <p>Phone: 097 567 1080</p>
            <p>Email: contact@giayxshop.vn</p>
        </div>
    </div>
</div> -->