<div class="peo-container payment">
    <h2>Hình thức thanh toán</h2>
    <div class="desc">
        Chúng tôi chấp nhận thanh toán
        <ol>
            <li>Chuyển khoản ngân hàng</li>
            <li>Thanh toán MOMO</li>
        </ol>
    </div>
</div>


<div class="peo-container contact">
    <div class="row">
        <div class="col-6 text-center">
            <i class="pi pi-clock" style="font-size: 3em"></i>
            <h3>Thời gian làm việc</h3>
            <p>7:00 AM - 23.00 PM</p>
            <p>Thứ 2 - Chủ Nhật</p>
        </div>
        <div class="col-6 text-center">
            <i class="pi pi-info-circle" style="font-size: 3em"></i>
            <h3>Liên Hệ</h3>
            <p>Phone: 097 567 1080</p>
            <p>Email: contact@giayxshop.vn</p>
        </div>
    </div>
</div>