<!-- <app-topbar-client></app-topbar-client>

<app-header-main></app-header-main> -->


<div class="banner-home">
    <img [src]="banner_url" alt="Peo Shop">
</div>



<div class="peo-container list-product mb-4 mt-4">
    <h2 class="title-customize">
        <a href="#" class="title">Danh mục sản phẩm</a>
        <a href="#">Xem tất cả <i class="pi pi-angle-double-right"></i></a>
    </h2>
    <div class="products border-peo">
        <p-carousel [value]="listCategory" styleClass="custom-carousel" [circular]="true" [autoplayInterval]="3000"
        [numVisible]="5" [numScroll]="5" [circular]="false" [responsiveOptions]="responsiveOptions" style="width: 100%;">
        <ng-template let-item pTemplate="item">
            <div class="cursor-pointer">
                <div class="mb-3">
                    <img [src]="item.avatar" [alt]="item.name" class="w-6 shadow-2" />
                </div>
                <div>
                    <h4 class="mb-1 text-center">{{ item.name }}</h4>

                </div>
            </div>
        </ng-template>
    </p-carousel>
    </div>
</div>

<div class="peo-container list-product mb-4 mt-4">
    <h2 class="title-customize">
        <a href="#" class="title">Sản phẩm khuyến mãi</a>
        <a href="#">Xem tất cả <i class="pi pi-angle-double-right"></i></a>
    </h2>
    <div class="products border-peo">
        <app-list-product-client [products]="listProduct"></app-list-product-client>
    </div>
</div>

<div class="peo-container list-product mb-4 mt-4">
    <h2 class="title-customize">
        <a href="#" class="title">Charles & Keith</a>
        <a href="#">Xem tất cả <i class="pi pi-angle-double-right"></i></a>
    </h2>
    <div class="products border-peo">
        <app-list-product-client [products]="listProduct"></app-list-product-client>
    </div>
</div>


<div class="peo-container list-product mb-4 mt-4">
    <h2 class="title-customize">
        <a href="#" class="title">Local brand</a>
        <a href="#">Xem tất cả <i class="pi pi-angle-double-right"></i></a>
    </h2>
    <div class="products border-peo">
        <app-list-product-client [products]="listProduct"></app-list-product-client>
    </div>
</div>