// .banner-home{
//     img{
//         width: 100%;
//     }
// }
img {
  width: 100%;
}
::ng-deep .ui-carousel-item {
  img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
  }
}



.title-customize {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0;
  &::before {
    content: "";
    background: #000;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
  }
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    &.title {
      background: #000;
      color: #fff;
      padding: 5px 20px;
      position: relative;
      &::after {
        content: "";
        background: #000;
        width: 50px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: -50px;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
      }
    }
  }
}

.border-peo {
  border: 1px solid #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

