.search{
    position: relative;
    input{
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0 10px;
    }
    ul#list-data {
        margin: 0;
        padding: 20px 0px;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
        list-style: none;
        border: 1px solid #ccc;
        background: #fff;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        z-index: 1111111111;
        li{
            padding: 10px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            transition: all 0.5s;
            background: #fff;
            &:hover{
                background: #88888860;
            }
        }
        img{
            width: 100%;
        }
    }
}

