.box-icon {
    background: #888;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 22px;
    margin-bottom: 12px;
}

.title-page{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}