.box-img{
    width: 100px;
    height: 50px;
    display: block;
    // background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    img{
        width: 100%;
    max-width: 56px;
    }
}


.topbar{
    height: 5rem;

    .nav-bar-right{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
        i{
            color: #9c9fa6;
            cursor: pointer;
            transition: all 0.5s;
        }
        .icon{
            padding: 5px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s;

            &:hover{
                background: #9c9fa6 ;
                i{
                    color: #fff;
                }
            }
        }
        li.box-user {
            border-radius: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 0 17px;
            cursor: pointer;
            transition: all 0.5s;
            span{
                color: #9c9fa6;
            }
            img{
                max-width: 35px;
                border: 1px solid #9c9fa6;
                border-radius: 50%;
                padding: 2px;
                transition: all 0.5s;
            }
            &:hover{
                background: #9c9fa6;
                color: #fff;
                span{
                    color: #fff;
                }
                img{
                    border-color: #fff;
                }
            }
        }
    }

}
