/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #000;
}
.cursor-pointer {
  cursor: pointer;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}


mat-form-field {
    width: 100%;
  }

.mat-mdc-form-field-subscript-wrapper{
  display: none !important;
}

body .ui-toast .ui-toast-message.ui-toast-message-success {
  background-color: #5cb85c;
  border: 0 none;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

body .ui-toast .ui-toast-message.ui-toast-message-error {
  background-color: #d9534f;
  border: 0 none;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-close-icon {
  color: #fff;
  top: 8px;
  right: 8px;
}

body .ui-toast .ui-toast-message.ui-toast-message-error .ui-toast-close-icon{
  color: #fff;
  top: 8px;
  right: 8px;
}

body .ui-inputtext {
  width: 100%;
}


.peo-container{
  width: 100%;
  max-width: 1500px;
  padding-left: 30px;
  padding-right: 30px;
margin: 0 auto;
}