<div class="content">
    <div class="detail">
        <p class="title-page mb-4">Thông tin chi tiết đơn hàng</p>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-6 col-md-3">
                <p>Mã đơn hàng</p>
                <p style="font-size: 40px;padding: 7px 0;line-height: 40px;">#{{currentData?.orderId}}</p>
            </div>
            <div class="col-6 col-md-3">
                <p>Người tạo</p>
                <p>{{currentData?.created_by}}</p>
            </div>
            <div class="col-6 col-md-3">
                <p>Ngày tạo</p>
                <p>{{ currentData?.created_at | datePipe }}</p>
            </div>
            <div class="col-6 col-md-3">
                <p>Trạng thái đơn hàng</p>
                <p [ngStyle]="{ 'color': handleColor(currentData.status_order)}">{{currentData.status_order}}</p>
            </div>
            <div class="col-6 col-md-3">
                <p>Kênh bán hàng</p>
                <p>{{currentData.created_by_channel}}</p>
            </div>
            <div class="col-6 col-md-3">
                <p>Nguồn hàng</p>
                <p>{{currentData.product_source}}</p>
            </div>
        </div>
    </div>


    <div class="list-product">
        <p class="title-box">
            Danh sách sản phẩm
        </p>
        <div class="box-item">
            <table>
                <thead>
                    <tr>
                        <td>Ảnh sản phẩm</td>
                        <td>Tên sản phẩm</td>
                        <td>Hãng</td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of currentData?.orderDetail">
                        <td><img [src]="item.avatar" style="max-width: 200px;" alt=""></td>
                        <td>{{item.name}}</td>
                        <td>{{item.branch}}</td>
                        <td>{{item.quantity}}</td>
                        <td><i style="color: red;">{{item.price | pricePipe}}</i></td>
                        <td><i style="color: red;">{{item.total | pricePipe}}</i></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: left;">
                            <b>Tổng tiền</b>
                        </td>
                        <td colspan="2" style="text-align: right;">
                            <b><i style="color: red;">{{currentData.totalPrice | pricePipe}}</i></b>
                        </td>
                    </tr>
                    <tr *ngIf="currentData.shipping_price > 0">
                        <td colspan="4" style="text-align: left;">
                            <b>Hình thức giao hàng: <i>{{currentData.shipping}}</i></b>
                        </td>
                        <td colspan="2" style="text-align: right;">
                            <b><i style="color: red;">{{currentData.shipping_price | pricePipe}}</i></b>
                        </td>
                    </tr>
                    <tr *ngIf="currentData.discount > 0">
                        <td colspan="4" style="text-align: left;">
                            <b>Giảm giá ( Mã đã sử dụng - <i>{{currentData.discount_code}}</i> ) :</b>
                        </td>
                        <td colspan="2" style="text-align: right;">
                            <b><i style="color: red;">{{currentData.discount | pricePipe}}</i></b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: left;">
                            <b>Tổng đơn hàng</b>
                        </td>
                        <td colspan="2" style="text-align: right;">
                            <b><i style="color: red;">{{currentData.totalOrder | pricePipe}}</i></b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="customer">
        <div class="d-flex" style="gap: 20px">
            <p class="title-box">
                Thông tin khách hàng
            </p>
            <div class="cursor-pointer" (click)="changeEdit()" *ngIf="!isEdit">
                <i class="pi pi-pencil" style="font-size: 18px"></i>
                <!-- <i class="pi pi-check-circle" *ngIf="isEdit" style="font-size: 18px"></i> -->
            </div>
        </div>

        <table>
            <tr>
                <td>
                    Khách hàng
                </td>
                <td>
                    <span *ngIf="!isEdit">{{currentData?.name}}</span>
                    <input type="text" [value]="currentData.name" *ngIf="isEdit" [(ngModel)]="currentData.name"
                        class="form-control" required (blur)="onBlur(currentData.id,$event.target.value)">
                </td>
            </tr>
            <tr>
                <td>
                    Số điện thoại
                </td>
                <td>
                    <span *ngIf="!isEdit">{{currentData?.phone}}</span>
                    <input type="tel" [value]="currentData.phone" *ngIf="isEdit" [(ngModel)]="currentData.phone"
                        class="form-control" required (blur)="onBlur(currentData.id,$event.target.value)">
                </td>
            </tr>
            <tr>
                <td>
                    Địa chỉ
                </td>
                <td>
                    <ng-container *ngIf="!isEdit">
                        {{currentData?.address}}, {{listAddress[2]?.name}}, {{listAddress[1]?.name}},
                        {{listAddress[0]?.name}}
                    </ng-container>
                    <div class="row" *ngIf="isEdit">
                        <div class="col-4">
                            <p class="mb-0">Tỉnh/Thành phố</p>
                            <select class="form-select" name="city" #city="ngModel" [(ngModel)]="currentData.city"
                                (ngModelChange)="changeOptionCity('city')" required>
                                <option value="">-- Tỉnh/Thành phố --</option>
                                <option *ngFor="let item of listCity" [value]="item.Id">
                                    {{ item.Name }}
                                </option>
                            </select>
                            <app-errors-message [control]="city.control" [name]="'Tỉnh/Thành phố'"></app-errors-message>
                        </div>

                        <div class="col-4">
                            <p class="mb-0">Quận/Huyện </p>
                            <select class="form-select" name="districts" #districts="ngModel"
                                [(ngModel)]="currentData.districts" [disabled]="!currentData.city"
                                (ngModelChange)="changeOptionCity('districts')" required>
                                <option value="">-- Chọn Quận/Huyện --</option>
                                <option *ngFor="let item of listDistricts" [value]="item.Id">
                                    {{ item.Name }}
                                </option>
                            </select>
                            <app-errors-message [control]="districts.control"
                                [name]="'Quận/Huyện'"></app-errors-message>
                        </div>

                        <div class="col-4">
                            <p class="mb-0">Phường </p>
                            <select class="form-select" name="wards" #wards="ngModel" [(ngModel)]="currentData.wards"
                                [disabled]="!currentData.districts" (ngModelChange)="changeOptionCity('wards')"
                                required>
                                <option value="">-- Chọn Phường --</option>
                                <option *ngFor="let item of listWards" [value]="item.Id">
                                    {{ item.Name }}
                                </option>
                            </select>
                            <app-errors-message [control]="wards.control" [name]="'Phường'"></app-errors-message>
                        </div>

                        <div class="col-12 mt-2">
                            <textarea type="tel" [value]="currentData.address" *ngIf="isEdit"
                                [(ngModel)]="currentData.address" class="form-control" required></textarea>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Ghi chú đơn hàng
                </td>
                <td>
                    <span *ngIf="!isEdit">{{currentData?.note}}</span>
                    <textarea type="tel" [value]="currentData.note" *ngIf="isEdit" [(ngModel)]="currentData.note"
                        class="form-control" required></textarea>
                </td>
            </tr>
        </table>
        <div class="d-flex">
            <button class="btn border mt-2" style="background: #fff; color: #000;min-width: 100px;margin-right: 10px;" *ngIf="isEdit" (click)="changeEdit()">
                Hủy
            </button>
            <button class="btn border mt-2" style="background: #000; color: #fff;min-width: 100px" *ngIf="isEdit" (click)="saveAddress()">
                Lưu
            </button>
        </div>
    </div>

    <div class="time-line">
        <p class="title-box">
            Lịch sử đơn hàng
        </p>
        <div class="timeline">
            <app-timeline [listTimeline]="listTimeline" [author]="listAuthor"></app-timeline>
        </div>
    </div>
</div>