name: CI/CD Workflow

on:
  push:
    branches:
      - build

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Angular CLI
        run: npm install -g @angular/cli

      - name: Install Dependencies
        run: npm install

      - name: Build Angular App
        run: ng build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to cPanel
        uses: caodung1211/peooshop@build
        with:
          cpanel-username: ${{ secrets.CPANEL_USERNAME }}
          cpanel-password: ${{ secrets.FTP_PASSWORD }}
          cpanel-domain: ${{ secrets.FTP_SERVER }}
          repo-directory: dist/peooshop
