<div class="peo-container">
    <h2 class="title-page">Charles & Keith</h2>

    <div class="wrap-content d-flex">
        <div class="sidebar col-3">
            <app-sidebar-catgory></app-sidebar-catgory>
        </div>
        <div class="content col-8">
            <div class="sort">
                <span>SẮP XẾP THEO:</span>
                <select [(ngModel)]="sortBy" (ngModelChange)="changeSortBy">
                    <option [value]="item.value" *ngFor="let item of list_sort">{{item.label}}</option>
                </select>
            </div>
            <app-list-product-client [products]="dataFake"></app-list-product-client>
        </div>
    </div>

</div>